<?xml version="1.0"?>
<!--This file represents user settings about package information that will be packaged into vxp(LINKIT 1.0)-->
<packageinfo>
  <userinfo>
    <developer>MediaTek Inc</developer>
    <appname>Demo</appname>
    <appversion>2.0.0</appversion>
    <appid>-1</appid>
    <iconName>
    </iconName>
  </userinfo>
  <APIAuth>
    <category>Audio</category>
    <category>Call</category>
    <category>Camera</category>
    <category>TCP</category>
    <category>File</category>
    <category>HTTP</category>
    <category>Sensor</category>
    <category>SIM card</category>
    <category>Record</category>
    <category>SMS(person)</category>
    <category>SMS(SP)</category>
    <category>BitStream</category>
    <category>Contact</category>
    <category>LBS</category>
    <category>MMS</category>
    <category>ProMng</category>
    <category>SMSMng</category>
    <category>Video</category>
    <category>XML</category>
    <category>Sec</category>
    <category>SysStorage</category>
    <category>Payment</category>
    <category>BT</category>
    <category>PUSH</category>
    <category>UDP</category>
    <category>SysFile</category>
    <category>sso</category>
    <defaultliblist>Mediatek; Standard; Memory; Framework; Comman</defaultliblist>
  </APIAuth>
  <targetconfig>
    <mem>800</mem>
    <supportbg>checked</supportbg>
    <userfont>unchecked</userfont>
    <screenrotate>unchecked</screenrotate>
    <autoadaptable>checked</autoadaptable>
    <usesysmemory>unchecked</usesysmemory>
    <sysdisk>
    </sysdisk>
    <Push>unchecked</Push>
    <PushID>-1</PushID>
    <PushSenderID>
    </PushSenderID>
    <autostart>unchecked</autostart>
    <TransferImg>unchecked</TransferImg>
    <idleshortcut>unchecked</idleshortcut>
  </targetconfig>
  <namelist>
    <english>Demo</english>
    <chinese>Demo</chinese>
    <cht>Demo</cht>
  </namelist>
  <operationinfo>
    <content>content</content>
    <imsi>1234567890</imsi>
  </operationinfo>
  <paymentlib>
    <version>Internal</version>
    <smskey>1234567890</smskey>
  </paymentlib>
  <output>
    <type>0</type>
    <device>2</device>
  </output>
  <resolution>
    <Width>128</Width>
    <Height>160</Height>
  </resolution>
  <vxp>
    <sdkversion>10</sdkversion>
    <venus>0</venus>
    <iot_wearable>2</iot_wearable>
  </vxp>
  <font>
    <size>12</size>
  </font>
  <image>
  </image>
  <icon>
    <path>
    </path>
  </icon>
</packageinfo>